<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartmed1"
        tools:targetApi="31">
        <activity
            android:name=".PatientAdmissionForm"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMolecular"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsCardiology"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMicrobiology"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMRI"
            android:exported="false" />
        <activity
            android:name=".OpenFileScreenActivity"
            android:exported="false"/>
        <activity
            android:name=".DiagnosticResultsHematology"
            android:exported="false" />
        <activity
            android:name=".DiagnosticExamsActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".FAQsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpAndSupportUser"
            android:exported="false" />
        <activity
            android:name=".QuestionFormScreen"
            android:exported="false" />
        <activity
            android:name=".DoctorPrescriptionCreate"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
         <activity android:name=".PrescriptionListActivity" android:exported="true" />
        <activity android:name=".PrescriptionDetailsActivity" android:exported="true" />
        <activity android:name=".RenewPrescriptionActivity" android:exported="false" />
        <activity
            android:name=".DoctorHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
