<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartmed1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Smartmed1"
        tools:targetApi="31">

        <activity
            android:name="HealthWarningScreen"
            android:exported="false" />
        <activity
            android:name="UserComments"
            android:exported="false" />
        <activity
            android:name="HealthAnalysisScreen"
            android:exported="false" />
        <activity
            android:name="HealthTrendsScreen"
            android:exported="false" />
        <activity
            android:name="UserChoices"
            android:exported="false" />
        <activity
            android:name="AddHealthData"
            android:exported="false" />
        <activity
            android:name="Feedback"
            android:exported="false" />
        <activity
            android:name="ProcessAppointments"
            android:exported="false" />
        <activity
            android:name="ActiveAppointments"
            android:exported="false" />
        <activity
            android:name="PaymentMethods"
            android:exported="false" />
        <activity
            android:name="AvailableTimeSlots"
            android:exported="false" />
        <activity android:name="AppointmentPreview" />
        <activity android:name="CreateAppointment" />
        <activity android:name="AvailabilityForm" />


        <activity android:name=".ui.NoValidExportScreen" android:exported="false" />
        <activity android:name=".ui.InvalidAMKAScreen"   android:exported="false" />
        <activity android:name=".ui.NoAnswerErrorScreen" android:exported="false" />
        <activity android:name=".ui.ShareFormScreen"     android:exported="false" />
        <activity android:name=".ui.ResultSummaryScreen" android:exported="false" />
        <activity android:name=".ui.QuestionScreen"      android:exported="false" />
        <activity android:name=".QuestionActivity"       android:exported="false" />
        <activity android:name=".OpenFileScreenActivity" android:exported="false" />
        <activity android:name=".DiagnosticResultsHematology" android:exported="false" />
        <activity android:name=".DiagnosticExamsActivity"      android:exported="false" />
        <activity android:name=".MedicalDocumentsActivity"     android:exported="false" />
        <activity android:name=".FAQsActivity"                 android:exported="false" />
        <activity android:name=".HelpAndSupportUser"           android:exported="false" />
        <activity android:name=".SupportQuestions"           android:exported="false" />
        <activity android:name=".DoctorPrescriptionCreate"     android:exported="false" />
        <activity android:name=".UserHome"                     android:exported="false" />
        <activity android:name=".DoctorHome"                   android:exported="false" />

        <activity
            android:name=".DoctorReferralCreate"
            android:exported="false" />
        <activity
            android:name=".ConfirmReferral"
            android:exported="false" />
        <activity
            android:name=".ConfirmPrescription"
            android:exported="false" />
        <activity
            android:name=".PatientAdmissionForm"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMolecular"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsCardiology"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMicrobiology"
            android:exported="false" />
        <activity
            android:name=".DiagnosticResultsMRI"
            android:exported="false"/>

         <activity
             android:name=".PrescriptionListActivity"
             android:exported="false" />
        <activity
            android:name=".PrescriptionDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".RenewPrescriptionActivity"
            android:exported="false" />
        <activity android:name=".ReferralListActivity" />

        <activity
            android:name=".DoctorAvailabilityActivity"
            android:exported="false" />
        <activity android:name=".AddEditAvailabilityActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- FileProvider for serving the PDF -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
